.reset {
    border: none;
    background: rgb(39, 87, 67);
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}

.reset:hover {
    background: white;
    border: 2px solid rgb(39, 87, 67);
    color: rgb(39, 87, 67);
    padding: 6px 14px;
}